<div class="max-w-md mx-auto">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'space-y-6 bg-base-100 p-8 rounded-box border border-base-content/5 m-8'}}) }}

    <!-- Email Field -->
    <div class="form-control w-full">
        <label class="label">
            <span class="label-text font-semibold">Email</span>
        </label>
        {{ form_widget(form.bookingEmail, {
            'attr': {
                'class': 'input input-bordered w-full',
                'placeholder': 'Enter email'
            }
        }) }}
        {% if form.bookingEmail.vars.errors|length > 0 %}
            <label class="label">
                <span class="label-text-alt text-error">{{ form.bookingEmail.vars.errors[0].message }}</span>
            </label>
        {% endif %}
    </div>

    <!-- Full name Field -->
    <div class="form-control w-full">
        <label class="label">
            <span class="label-text font-semibold">Full name</span>
        </label>
        {{ form_widget(form.fullName, {
            'attr': {
                'class': 'input input-bordered w-full',
                'placeholder': 'Enter full name'
            }
        }) }}
        {% if form.fullName.vars.errors|length > 0 %}
            <label class="label">
                <span class="label-text-alt text-error">{{ form.fullName.vars.errors[0].message }}</span>
            </label>
        {% endif %}
    </div>

    <!-- Paid Amount Field -->
    <div class="form-control w-full">
        <label class="label">
            <span class="label-text font-semibold">Paid amount</span>
        </label>
        {{ form_widget(form.paidAmount, {
            'attr': {
                'class': 'input input-bordered w-full',
                'placeholder': 'Enter paid amount'
            }
        }) }}
        {% if form.paidAmount.vars.errors|length > 0 %}
            <label class="label">
                <span class="label-text-alt text-error">{{ form.paidAmount.vars.errors[0].message }}</span>
            </label>
        {% endif %}
    </div>

    <!-- User Field -->
    <div class="form-control w-full">
        <label class="label">
            <span class="label-text font-semibold">Alege utilizator</span>
        </label>
        {{ form_widget(form.user, {
            'attr': {
                'class': 'select select-bordered w-full'
            }
        }) }}
        {% if form.user.vars.errors|length > 0 %}
            <label class="label">
                <span class="label-text-alt text-error">{{ form.user.vars.errors[0].message }}</span>
            </label>
        {% endif %}
    </div>


    <!-- Submit Button -->
    <div class="form-control mt-6">
        <button type="submit" class="btn btn-outline w-full">
            {{ button_label|default('Book') }}
        </button>
    </div>

    {{ form_end(form) }}
</div>
